# Server Port
PORT=5000

# MongoDB Connection String (Replace with your actual Atlas URI in the .env file)
MONGODB_URI=mongodb+srv://<team_members>:<vani595hackhunt>@cluster0.mongodb.net/project1

# Email Configuration for OTP
EMAIL=your_email@gmail.com
APP_PASSWORD=your_app_password_here
GEMINI_API_KEY=AIzaSyCtLA_mY3o7Q71-W-731FgAskXwIZ2-hqY